<div> 

<h2>Title: {{oneCollection.title}}</h2>

<h3>Created by: {{oneCollection.creator.username}} </h3>
<h4>about: {{oneCollection.info}}</h4>
</div>
<div>
    <h4>Artists in Playlist</h4>
</div>
{{#each allArtists}}
<a href="/artist/{{this._id}}/info"> <li>
{{this.name}}</li> </a>
{{/each}}
<div>


<br>
<a href="/collection/{{oneCollection._id}}/update"><button class="btn-edit-collection">Edit your collection</button></a>
<br>
<form action="/collection/{{oneCollection._id}}/delete" method="post">
<button class="btn-delete" type="submit">Delete this collection</button>


</div>