<div>
 <h1>{{oneArtist.name}} </h1>  
 <img src="{{oneArtist.photo}}" alt="Artist-photo" width="100px">
 <h3>Born in: {{oneArtist.yearBorn}} </h3> 
 <h3>Some info: {{oneArtist.description}} </h3>
 <br>

{{!-- <button>Add to your favourites</button> --}}
<br>

<br>
<h3>Add to one of your playlists : </h3>
<br> 

<form action="/artist/{{oneArtist._id}}/added-to-a-collection" method="post">
 <label for="collection"></label>
<select name="collection" multiple >
    {{#each yourPlaylist }}
<option value="{{this._id}}">{{this.title}}</option>
{{/each}}
</select>
<button >Add</button>
</form>
<br>

<form action="/artist/{{this.oneArtist._id}}/delete" method="post">
<button class="btn-delete" type="submit">Delete</button>
</form>
 <a href="/artist/{{this.oneArtist._id}}/update"><button>Update</button></a>

</div>